/* ================= Globals ================= */
* {
	box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-y: overlay;
}

/* ================= Layout ================= */
.container { 
	display: flex;
	flex-direction: column;  
	position: relative;
	overflow: hidden;
} 