/* ================= Globals ================= */
* {
	box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-y: overlay;
}

/* ================= Layout ================= */
.container { 
	display: flex;
	flex-direction: column;  
	position: relative;
	overflow: hidden;
}

.dark-blue-background {
	background: blue;
	height: 100vh;
	widows: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark-blue-background h2 {
	font-size: 32px;
	font-family: Noto Sans, sans-serif;
}