/* ================= Globals ================= */
* {
	box-sizing: border-box;
}

/* ================= Colors ================= */
.white-background {
	background: #FFFFFF;
}

.pink-background {
	background: #FFD1E8;
}

.grey-background {
	background: #F4F4F4;
}

.blue-background {
	background: #F3F9FF;
}

/* ================= Layout ================= */
.background {
	width: 100vw;
	height: 100%;
	background: #838080;
}

.container {
	width: 1440px; 
	display: flex;
	flex-direction: column; 
	position: relative;
}

/* ================= Main-view ============== */
.main-view {
	height: 655.22px;
	display: flex;
} 

/* ======= Main View Left */
.main-view-left {
	width: 525.12px;
	padding-top: 236.29px;
	padding-left: 86.53px;
}

.main-view-left-header {
	width: 400px;
}

/* ======= Main View Right */
.main-view-right {
	width: 914.8px;
	z-index: 0;
	padding-top: 100px;
} 

/* Option Buttons */
.option-buttons {
	display: flex;
  margin-top: 55.37px;
  justify-content: center;
}

.option-button {
	border: none;
	display: flex;
	justify-content: center;  
} 

.option-button:hover {
	cursor: pointer;
}

/* Option Info */
.options-info {
	margin-left: 180px;
	margin-right: 180px;
	margin-top: 62.36px;
	display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.option-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
 
.option-text {
	font-family: Noto-Sans, sans-serif;
	font-style: regular;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
}
  
/* ================= Alert-view ============= */
.alert-bar {
	height: 112px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-bar p {
	font-family: Noto-Sans, sans-serif;
	font-size: 24px;
	line-height: 33px; 
	color: #181949;
}

.alert-bar p em {
	font-weight: 600;
}

/* ================= Icon-views ============= */
.icon-view {
	display: flex; 
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;
	height: 405.75px;
	width: 100%;
} 

.icon-view-wide {
	padding-left: 209px;
 	padding-right: 264px;
}

.icon-view-slim {  
	padding-left: 325px;
  padding-right: 377px;
}

.screen-icon {
	width: 280px;
	height: 234.84px;
}

.info-box { 
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.info-box-heading {
	font-family: Manrope, sans-serif;
	font-weight: 700;
 	font-size: 32px;
 	line-height: 44px; 
	color: #181949;
	margin-bottom: 16px;
}

.info-box-text {
	font-family: Noto-Sans, sans-serif;
	font-size: 16px; 
	line-height: 22px; 
	color: #666666;
	margin-bottom: 16px;
}

.info-button {
	width: 89px;
	height: 32px;
	border-radius: 8px;
	background: #181949;
	border: none;

	font-family: Noto-Sans-Semi-Bold, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px; 
	color: #FFFFFF;
}

.info-box-container {
	display: flex;   
}

.info-box-row {
	display: flex;
	text-align: center;
}

/* === IT-cloud-view */
.icon-view-title-container {
	font-family: Noto-Sans, sans-serif;
	font-size: 48px;
	line-height: 65px;
	font-weight: 700;
	color: #181949;  
	text-align: center;
	padding-top: 45px;
}

.hr-admin-view .info-box-row-1 .info-button-container {
	margin-right: 32px;
}

.hr-admin-view .info-box-row-1 .info-button-container:last-child {
	margin-right: 0;
}

.hr-admin-view .info-box-row-2 {
	margin-top: 18.15px;
} 

/* ================= Options-view =========== */
.options-view {
	height: 487.06px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option-box {
	width: 264px;
	height: 228px; 
	padding: 43px 40px;
	padding-right: 0;
	border-radius: 10px;
	background: #FFFFFF;
	border: 1px solid #DEDEDE;
	box-shadow: 0px 13px 19px 0px #00000012;
	margin-right: 32px;
}

.option-box-border {
	border: 2px solid #E6367E;
}

.option-box-highlight {
	background: #E6367E;
	color: #FFFFFF;
}

.option-box-row-1 {
	display: flex;
  align-items: flex-start;
  height: 50%;
  flex-direction: column;
}

.option-box-row-2 {
	display: flex;
	align-items: flex-end;
	height: 50%;
}

.option-box-heading {
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}

.option-box-sub-heading {
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.10000000149011612px;
	text-align: left; 
}

.price-left-col {
	display: flex;
	align-items: center;
	height: 100%;
}

.price-right-col {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center; 
}

.price-zero {
	font-family: Noto Sans;
	font-size: 64px;
	font-style: normal;
	font-weight: 700; 
	letter-spacing: 0.20000000298023224px; 
	padding-right: 5px;
}

.price-number {
	font-family: Noto Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 66px;
	letter-spacing: 0.20000000298023224px;
	text-align: left; 
	padding-right: 5px;
}

.price-dollar { 
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0.10000000149011612px;
	text-align: left; 
}

.price-text {
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}

/* ================= Offices-view =========== */
.offices-view {
  height: 320px;
  display: flex;
}

.address-box {
	height: 100%;
	width: 33.3333333333%;
	border-top: 1px solid #99999975;
	border-right: 2px solid #99999975;
	display: flex;
	flex-direction: column;
	padding-top: 33.03px;
	padding-right: 36px;
	padding-left: 36px;
}

.address-box-one {
	align-items: flex-end;
}

.address-box-two {
	align-items: center;
}

.address-box-three {
	align-items: flex-start;
}

.address-box:last-child {
	border-right: none;
}

.address-heading {
	font-family: Noto Sans;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	text-align: left;
	color: #181949;
}

.address-text {
	font-family: Noto Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: -0.20454545319080353px;
	text-align: left;
	color: #666666;
	margin: 19px 0;
}

.address-row {
	display: inline;
	margin-right: 28px; 
}