/* =============================== Header ================================= */
header {
	display: flex;
	flex-direction: row; 
	position: absolute;
	background: transparent;
	width: 100%;
  height: 100px; 
  z-index: 2; 
}

/* =============================== Nav links ============================== */
.nav-link:hover {
	cursor: pointer;
}

/* =============================== Header Left ============================ */
.header-left {
	padding-top: 36px;
}

/* ======== Nav Left */
.nav-left {
	display: flex;
	align-items: center;
	width: 525.12px;
	height: 100%;  
}

.nav-left .nav-link {
	display: flex;
	align-items: flex-end; 
	height: 100%;
}  

/* ======== Logo */
.logo { 
	left: 81.6px;
	top: 51.5px;
	position: absolute; 
}

/* ======== Home */
.home-container {
	display: flex;
	align-items: center;
}

.home-container:hover {
	cursor: pointer;
}

.home-icon {
	position: absolute;
	left: 416.97px;
	top: 61.14px;
	width: 16.03px;
	height: 16.72px;
}

.home-text {
	position: absolute;
	left: 445px;
	top: 60px;
}

/* =============================== Header Right ============================ */
/* ======== Options bar */
.options-bar {
	background: #181949;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: flex-start;
	padding-left: 350px;
	padding-top: 8px;
	z-index: 2;
}  

.options-container { 
	display: flex;
}

.option {
	display: flex;
	align-items: center;
	margin-right: 82px;
}

.option-heading { 
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 16.41px;
	font-weight: 400;
	color: #CFE5FF;
}

.options-heading:hover {
	cursor: pointer; 
}

/* ======== Header Right */
.header-right {
	width: 914.8px;
	height: 100%; 
	position: relative;
}

.nav-right { 
  margin-left: 33.88px;
  margin-top: 24px; 
}

.nav-right ul {
	display: flex;
	flex-direction: row;
}

.nav-link-right {
	margin-right: 72px;
}

.chevron-icon {
	margin-left: 4.18px;
}