/* =============================== Header ================================= */
.header {
	display: flex; 
 	width: 100%;
  height: 80px;  
	position: absolute;
  z-index: 2; 
}
 
/* =============================== Nav links ============================== */
.nav-link {
	white-space: nowrap;
	text-decoration: none;
}

.nav-link:hover {
	cursor: pointer;
	color: #4250ff !important;
}

.nav-link-left:active {
	color: #3033b4 !important;
}

.nav-link-right:active {
	color: #3f51b5 !important;
}
 
/* =============================== Header Left ============================ */
/* 
	If want to change width of header left 
		=> must also change width of main-view-left 
		=> must adjust min-width of both
		=> check at all widths
*/
.header-left {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;  
	min-width: 500px;
	width: 30%;
	padding-left: 6%;
	padding-right: 3%;
	height: 100%;  
}

/* ======== Home */
.home-container {
	display: flex;
  align-items: center;
}

.home-container:hover {
	cursor: pointer; 
}

.home-icon {
	margin-right: 10px; 
	mask-size: contain;
	mask-position: center;
	mask-image: url('./../imgs/home-icon.svg');
	mask-repeat: no-repeat; 
	background: #181949;
	overflow: visible;
}

.home-heading-hover {
	color: #4250ff !important;
}

.home-heading-down {
	color: #3033b4 !important;
}

.home-icon-hover {
	background: #4250ff;
}

.home-icon-down {
	background: #3033b4;
}

/* =============================== Header Right ============================ */
.header-right {   
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;    
	min-width: 780px;
}  

.header-right-content-container {
	height: 100%;
	display: inline-flex;
	flex-direction: column; 
  margin-right: 17%;
}

/* =============================== Option bar ================================== */
.options-bar { 
  height: 36px;
  top: 0;
  width: 100%;   
}

.options-container { 
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 36px;
	padding-right: 3%;
}

/* ======== Nav Right */
.nav-right-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 4.5%;
  height: 100%;
}
 
.nav-right { 
	display: flex;
}

.nav-right ul {
	display: flex;
	flex-direction: row;
}
 
.nav-link-right {
	margin-left: 72px;
} 
 
/* ======== Large Screen */
@media screen and (min-width: 1800px) {
	.options-container {  
		padding-right: 9%;
	}

	.nav-right-container {
    padding-right: 9.8%;
	}
}