/* ================= Main-view ============== */
.main-view {
	height: 100vh;
	width: 100%; 
	display: flex;
	min-width: 1280px;
	min-height: 540px;
	background: yellow; 
} 

/* ======= Main View Left */ 
/* 
	If want to change width of main-view-left 
		=> must also change width of  header left 
		=> must adjust min-width of both
		=> check at all widths
*/
.main-view-left {  
	padding-top: 220px;
  padding-left: 6%;
  padding-right: 3%;
  min-width: 500px;
  width: 39%;
  height: 100%; 
}

/* ======= Main View Right */
.main-view-right { 
	z-index: 0;
	padding-top: 100px; 
	width: 100%;
	height: 100%;
	min-width: 780px;  
	background-position:center bottom;
} 

/* Buttons */
.main-view-buttons {
	display: flex;
  margin-top: 70px;
  justify-content: center;
}

.main-view-button {
	border: none;
	display: flex;
	justify-content: center;  
} 

.main-view-button:hover {
	cursor: pointer;
}

/* Option Info */
.main-view-info-container {
	margin: 0 152px;
	margin-top: 62px;
	display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-view-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 3%;
}

.main-view-info-text {
	width: 140px; 
}

/* Very large screens */

@media screen and (min-width: ) {

}