.private-frame {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
}

.private-frame-header { 
	cursor: default;
}

.logout-button-container {
	width: 100%;
	height: 100%; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout-button {  
	cursor: pointer;
} 

.logout-button:hover {
	background: #484cff !important;
}

.logout-button:active {
	background: #1f229a !important;
}